@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$black: #000;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto" sans-serif;

    &::-webkit-scrollbar{
        display: none;
    }
}

a,
h2 {
  color: white;
}
a{
    text-decoration: none;
}
.header{
    background-color: $black; 
    height: 100px;
    padding: 2rem;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    >img{
        height: 100%;
    }
    >div{
        margin-left: 4vmax;
        width: 100%;
        >a{
            margin: 2rem;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    >svg{
    color: white;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: rgb(216, 216, 216);
    }
}
}
  