*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    text-decoration: none;
    background-color: rgb(222, 49, 99) ;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    letter-spacing: 0.7rem;
    color: aliceblue;
    text-transform: uppercase;
    word-spacing: 10px;
    font: 500 2rem "Sans-Serif";
}

.counterTimer{
    display: flex;
}
.counterTimer > p{
    color: azure;
    padding: 1rem;
    text-transform: uppercase;
}
.counterTimer>p>span{
    display: block;
    font-size: 4rem;
}