*{
    margin: 0%;
    padding: 0%;
    box-shadow: none;
}
.Paragraph{
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding: 100px 50px;
    box-sizing: border-box;
}
.Paragraph h1{
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background-color: rgb(39, 124, 199);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
#numOfWords{
    padding: 10px;
    border: 1px solid rgb(45, 44, 45);
    width: 70%;
    outline: none;
    margin-top: 20px;
    font: 100 1.6rem sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    padding: 20px;
    margin: 20px 0px;
    outline: none;
    border: 1px solid rgb(61, 61, 61);
    background-color: rgb(46, 83, 192);
    color: aliceblue;
    font: 100 1.3rem sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: background-color 0.6s;
}
button:hover{
    background-color: rgb(31, 196, 211);
}
.paras{
    padding: 20px;
    background-color: blanchedalmond;
    margin-top: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
    border-radius: 5px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}