*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    padding: 20px;
    width: 80%;
    min-height: 100vh;
    margin: auto;
    background-color: cornsilk;
}
h1{
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #a7e092;
    text-transform: uppercase;
    font: 900 1.5rem "sans-serif";
}
form{
    display: flex;
    flex-direction: column;
    background-color: #bee0b2;
}

input,textarea{
    padding: 20px;
    background-color: aliceblue;
    font: 200 1.2rem "sans-serif";
    margin: 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    color: black;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.237);

}
#getTask{
    margin-top: 1.1rem;
    padding: 20px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.573);
    color: aliceblue;
    font: 400 1.4rem "sans-serif";
    border: none;
    transition: all 0.3s;
}
#getTask:hover{
    background-color: rgb(214, 159, 48);
}

.task{
    background-color: aliceblue;
    margin: 2vmax;
    padding: 20px;
    font: 200 1.2rem "sans-serif";
    display: flex;
    align-items: center;
    
}
.task div {
    width: 100%;
}
.task span{
    color: #000;
}
.deleteButton{
    border-radius: 2px;
    width: 30px;
    border-radius: 100%;
    height: 30px;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(7, 142, 47);
    color: aliceblue;
}
button{
    background-color: rgba(12, 12, 12, 0.649);
    color: aliceblue;
    padding: 10px;
    transition: all 0.3s;
}
button:hover{
    background-color: rgba(222, 25, 25, 0.784);
}